
<div class="h-20 bg-gray-50 dark:bg-gray-800 w-full flex justify-center items-center border-b-2 border-gray-950">
  <div class="flex-nowrap justify-between w-full flex items-center container">
    <div class=" flex flex-nowrap gap-3 items-center">
      <span class="text-sm logo bg-neutral-950 text-gray-100 p-2">
         federal student aid assistant [beta]
      </span>
      <ul class="flex-nowrap flex gap-4 -mb-1">
        <li class="nav-item">
          <a class="nav-link opacity-70 !font-bold" [routerLink]="'/home'" [routerLinkActive]="'active'">Assistant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link opacity-70 !font-bold" [routerLink]="'/about'" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link opacity-70 !font-bold" [routerLink]="'/contact'" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
    <div *ngIf="currentUser" class="flex gap-2">
      <button (click)="toggleTheme()">theme: {{theme}}</button>
      <button class="primary-button" (click)="logOut()">Sign Out</button>
    </div>
  </div>
</div>
