
<div *ngIf="currentUser" class="h-16 px-6 bg-gray-100 dark:bg-neutral-900 w-full flex justify-center items-center border-b-2 border-gray-950 dark:border-neutral-700">
  <div class="flex-nowrap justify-between w-full flex items-center">
    <div class=" flex flex-nowrap gap-3 items-center">
      <span class="text-sm logo bg-neutral-950 text-gray-100 p-2 hidden lg:block">
         student aid helper [beta]
      </span>
      <span class="text-sm logo bg-neutral-950 text-gray-100 p-2 block lg:hidden">
        fsa [beta]
     </span>
      <ul class="flex-nowrap gap-4 -mb-1 hidden md:flex">
        <li class="nav-item">
          <a class="nav-link dark:text-neutral-200 opacity-70 !font-bold cursor-pointer" (click)="navigate('/assistant')" [routerLinkActive]="'active'">Assistant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dark:text-neutral-200 opacity-70 !font-bold cursor-pointer" (click)="navigate('/about')" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dark:text-neutral-200 opacity-70 !font-bold cursor-pointer" (click)="navigate('/contact')" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
    <div>
      <div class="hidden md:flex gap-4 items-center">
        <div>
          <button class="primary-button border-2 border-neutral-900 capitalize flex items-center gap-2" (click)="toggleTheme()">
            <ng-icon *ngIf="theme === 'light';else dark" [size]="'18px'" name="cssSun"></ng-icon>
            {{theme}}
          </button>

        </div>

          <!-- <div tabindex="0" role="button" class="d-btn m-1">Click</div> -->
          <button [matMenuTriggerFor]="menu" tabindex="0" role="button" class="d-avatar d-placeholder">
          <div class="w-10 h-10 bg-neutral-900 rounded-full ring ring-indigo-600 ring-offset-white ring-offset-2">
            <span class="font-semibold text-neutral-200">LM</span>
          </div>
          </button>
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>
              <mat-icon>
                <ng-icon [size]="'24px'" name="cssPlayButtonO"></ng-icon>
              </mat-icon>
              <span>View</span>
            </button>
            <button mat-menu-item (click)="renameDialog(thread)">
              <mat-icon>
                <ng-icon [size]="'24px'" name="cssPen"></ng-icon>
              </mat-icon>
              <span>Edit name</span>
            </button> -->
            <button mat-menu-item (click)="logOut()">
              <mat-icon>
                <ng-icon [size]="'24px'" name="cssTrashEmpty"></ng-icon>
              </mat-icon>
              <span>Sign Out</span>
            </button>
          </mat-menu>

        <!-- <button class="d-btn rounded-none d-btn-neutral bg-neutral-900" (click)="logOut()">Sign Out</button> -->
        <!-- <div class="d-avatar d-placeholder">
          <div class="w-10 h-10 bg-neutral-900 rounded-full ring ring-indigo-500 ring-offset-white ring-offset-2">
            <span class="font-semibold text-neutral-200">LM</span>
          </div>
        </div> -->
      </div>
      <div class="block md:hidden cursor-pointer">
        <p-button (click)="sidebarVisible = true" class="primary-button flex justify-center items-center h-12"><ng-icon [size]="'18px'" name="cssMenu" class="mr-2"> </ng-icon> Menu
        </p-button>
      </div>
    </div>
  </div>
</div>

<ng-template #dark>
  <ng-icon [size]="'18px'" name="cssMoon"></ng-icon>
</ng-template>
<p-sidebar [(visible)]="sidebarVisible" [fullScreen]="true" [styleClass]="theme === 'light' ? 'bg-white':'bg-neutral-900'">
  <div class="h-full w-full dark:bg-neutral-900">
    <div class="flex flex-col justify-between h-100">
      <div class="flex flex-col gap-8">
        <div class="flex flex-col">
          <p class="font-bold dark:text-neutral-500">Navigation</p>
          <div class=" flex flex-col gap-3">
            <a class="nav-link dark:text-neutral-200 opacity-70 !font-bold" (click)="navigate('/assistant')" [routerLinkActive]="'active'">Assistant</a>
            <a class="nav-link dark:text-neutral-200 opacity-70 !font-bold" (click)="navigate('/about')" routerLinkActive="active">About</a>
            <a class="nav-link dark:text-neutral-200 opacity-70 !font-bold" (click)="navigate('/contact')" routerLinkActive="active">Contact</a>
          </div>
        </div>
        <div>
          <p class="font-bold dark:text-neutral-500">Settings</p>
          <button class="primary-button capitalize flex items-center gap-2 w-full" (click)="toggleTheme()">
            <ng-icon *ngIf="theme === 'light';else dark" [size]="'18px'" name="cssSun"></ng-icon>
            {{theme}}
          </button>
        </div>
        <div>
          <p class="font-bold dark:text-neutral-500">Profile</p>
          email
        </div>
      </div>
      <button class="primary-button" (click)="logOut()">Sign Out</button>
    </div>
  </div>
</p-sidebar>

<p-toast #toast position="top-center" [life]="7000" [hideTransformOptions]="'translateY(-200px)'" [showTransformOptions]="'translateY(-200px)'" [preventOpenDuplicates]="true">
  <ng-template pTemplate="headless" let-closeFn="closeFn">
    <div role="alert" class="d-alert shadow-lg bg-white">
      <span class="d-loading d-loading-dots d-loading-md"></span>
      <div>
        <div class="font-bold text-base">Assistant responding!</div>
        <div class="text-xs">One sec while the assistant finishes.</div>
      </div>
      <button class="d-btn d-btn-sm bg-neutral-900 hover:bg-neutral-800 text-white" (click)="close()">Dismiss</button>
    </div>
  </ng-template >
</p-toast>
