
<div *ngIf="currentUser" class="h-20 bg-gray-50 dark:bg-neutral-900 w-full flex justify-center items-center border-b-2 border-gray-950 dark:border-neutral-400">
  <div class="flex-nowrap justify-between w-full flex items-center container">
    <div class=" flex flex-nowrap gap-3 items-center">
      <span class="text-sm logo bg-neutral-950 text-gray-100 p-2 hidden lg:block">
         student aid helper [beta]
      </span>
      <span class="text-sm logo bg-neutral-950 text-gray-100 p-2 block lg:hidden">
        fsa [beta]
     </span>
      <ul class="flex-nowrap gap-4 -mb-1 hidden md:flex">
        <li class="nav-item">
          <a class="nav-link dark:text-neutral-200 opacity-70 !font-bold" [routerLink]="'/home'" [routerLinkActive]="'active'">Assistant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dark:text-neutral-200 opacity-70 !font-bold" [routerLink]="'/about'" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dark:text-neutral-200 opacity-70 !font-bold" [routerLink]="'/contact'" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
    <div>
      <div class="hidden md:flex gap-3">
        <div>
          <button class="primary-button capitalize flex items-center gap-2" (click)="toggleTheme()">
            <ng-icon *ngIf="theme === 'light';else dark" [size]="'18px'" name="cssSun"></ng-icon>
            {{theme}}
          </button>
        </div>
        <button class="primary-button" (click)="logOut()">Sign Out</button>
      </div>
      <div class="block md:hidden cursor-pointer">
        <p-button (click)="sidebarVisible = true" class="primary-button flex justify-center items-center h-12"><ng-icon [size]="'18px'" name="cssMenu" class="mr-2"> </ng-icon> Menu
        </p-button>
      </div>
    </div>
  </div>
</div>

<ng-template #dark>
  <ng-icon [size]="'18px'" name="cssMoon"></ng-icon>
</ng-template>
<p-sidebar [(visible)]="sidebarVisible" [fullScreen]="true" [styleClass]="theme === 'light' ? 'bg-white':'bg-neutral-900'">
  <div class="h-full w-full dark:bg-neutral-900">
    <div class="flex flex-col justify-between h-100">
      <div class="flex flex-col gap-8">
        <div class="flex flex-col">
          <p class="font-bold dark:text-neutral-500">Navigation</p>
          <div class=" flex flex-col gap-3">
            <a class="nav-link dark:text-neutral-200 opacity-70 !font-bold" [routerLink]="'/home'" [routerLinkActive]="'active'">Assistant</a>
            <a class="nav-link dark:text-neutral-200 opacity-70 !font-bold" [routerLink]="'/about'" routerLinkActive="active">About</a>
            <a class="nav-link dark:text-neutral-200 opacity-70 !font-bold" [routerLink]="'/contact'" routerLinkActive="active">Contact</a>
          </div>
        </div>
        <div>
          <p class="font-bold dark:text-neutral-500">Settings</p>
          <button class="primary-button capitalize flex items-center gap-2 w-full" (click)="toggleTheme()">
            <ng-icon *ngIf="theme === 'light';else dark" [size]="'18px'" name="cssSun"></ng-icon>
            {{theme}}
          </button>
        </div>
        <div>
          <p class="font-bold dark:text-neutral-500">Profile</p>
          email
        </div>
      </div>
      <button class="primary-button" (click)="logOut()">Sign Out</button>
    </div>
  </div>
</p-sidebar>
