<div class="flex flex-col" [ngClass]="{'items-end': message?.role !== 'assistant'}">
  <div class="flex gap-1 items-center capitalize font-bold dark:text-neutral-400" *ngIf="message">
    <ng-icon *ngIf="message.role === 'assistant'" class="ml-1" [size]="'20px'" name="cssBot"></ng-icon>{{message.role === 'assistant' ? 'assistant': 'you'}}
  </div>
  <div class="message-width ml-7 flex gap-2">
    <div>
      <div [innerHTML]="message.content[0].text.value | markdown" [ngClass]="{'rounded-tl-none bg-white dark:!text-neutral-200 dark:!bg-neutral-800 border border-gray-300 dark:!border-neutral-700':message.role === 'assistant', 'rounded-tr-none bg-neutral-800 dark:bg-neutral-900 text-neutral-200':message.role !== 'assistant'}" class="p-6 rounded-xl font-medium"></div>
      <p class="mb-0 text-gray-600 dark:text-neutral-600 font-bold text-xs py-2 w-full text-end">{{(message.created_at! * 1000) | date:'short'}}</p>
    </div>
    <div class="flex flex-col gap-2 pt-1 dark:text-neutral-600" *ngIf="message.role === 'assistant'">
      <button [ngClass]="{'text-red-500': message.liked === 1}" (click)="likeMessage(1)" class="opacity-70 hover:opacity-100">
        <ng-icon class="ml-1" [size]="'16px'" name="featherThumbsUp"></ng-icon>
      </button>
      <button (click)="likeMessage(2)" class="opacity-70 hover:opacity-100">
        <ng-icon class="ml-1" [size]="'16px'" name="featherThumbsDown"></ng-icon>
      </button>
    </div>
  </div>
</div>

