<div *ngIf="liveMessage && liveMessage.message" class="flex flex-col" [ngClass]="{'items-end': liveMessage.role !== 'assistant'}">
  <div class="flex gap-1 items-center capitalize font-bold dark:text-neutral-400 mb-1">
    <ng-icon *ngIf="liveMessage.role === 'assistant'" class="ml-1" [size]="'20px'" name="cssBot"></ng-icon>{{liveMessage.role === 'assistant' ? 'aid assistant': 'you'}}
  </div>
  <div class="message-width ml-7 flex gap-2">
    <div>
      <div [innerHTML]="liveMessage.message! | markdown" [ngClass]="{'rounded-tl-none bg-white dark:!text-neutral-200 dark:!bg-neutral-800 border border-gray-300 dark:!border-neutral-700':liveMessage.role === 'assistant', 'rounded-tr-none bg-neutral-800 dark:bg-neutral-900 text-neutral-200':liveMessage.role !== 'assistant'}" class="p-6 rounded-xl font-medium"></div>
      <p class="mb-0 text-gray-600 dark:text-neutral-600 font-bold text-xs py-2 w-full text-end">{{(liveMessage.time_stamp) | date:'short'}}</p>
    </div>
    <div class="flex flex-col gap-2 pt-1 dark:text-neutral-600" *ngIf="liveMessage.role === 'assistant'">
      <button [ngClass]="{'liked': liveMessage.liked === 1}" (click)="likeMessage(1)" class="opacity-70 hover:opacity-100">
        <ng-icon class="ml-1" [size]="'16px'" name="featherThumbsUp"></ng-icon>
      </button>
      <button [ngClass]="{'disliked': liveMessage.liked === 2}" (click)="likeMessage(2)" class="opacity-70 hover:opacity-100">
        <ng-icon class="ml-1" [size]="'16px'" name="featherThumbsDown"></ng-icon>
      </button>
    </div>
  </div>
</div>

