<div class="container w-full flex justify-center py-8">
  <div class="flex flex-col max-w-screen-lg w-full justify-center gap-8">
    <h1 class="font-bold text-3xl">Settings</h1>
    <section class="w-full d-card bg-white shadow-xl p-6">
      <div class="flex gap-3 items-center">
        <div tabindex="0" role="button" class="d-avatar d-placeholder">
          <div class="w-10 h-10 bg-neutral-900 rounded-full ring ring-indigo-600 ring-offset-white ring-offset-2">
            <span class="font-semibold text-neutral-200">LM</span>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <div class="text-lg text-black font-semibold">{{userProfile?.first_name}} {{userProfile?.last_name}}</div>
          <div class="text-sm text-neutral-700">{{userProfile.email}}</div>
        </div>
      </div>
    </section>
    <section class="w-full d-card bg-white shadow-xl p-6">
      <h2 class="font-bold text-xl">Account Settings</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
        <div class="md:grid flex flex-col grid-cols-2 gap-3">
          <div>
            <label class="d-form-control w-full">
              <div class="d-label">
                <span class="label-text font-semibold text-neutral-700" for="firstName">First Name</span>
              </div>
              <input type="text" id="firstName" formControlName="firstName" class="d-input d-input-bordered w-full">
            </label>
          </div>
          <div>
            <label class="d-form-control w-full">
              <div class="d-label">
                <span class="label-text font-semibold text-neutral-700" for="firstName">Last Name</span>
              </div>
              <input type="text" id="lastName" formControlName="lastName" class="d-input d-input-bordered w-full">
            </label>
          </div>
          <div>
            <label class="d-form-control w-full">
              <div class="d-label">
                <span class="label-text font-semibold text-neutral-700" for="email">Email</span>
              </div>
              <input type="text" id="email" formControlName="email" class="d-input d-input-bordered w-full">
            </label>
          </div>
        </div>
        <div>
          <label class="d-form-control w-full max-w-xs">
            <div class="d-label" for="role">
              <span class="label-text font-semibold text-neutral-700">Role</span>
            </div>
            <select class="d-select d-select-bordered" formControlName="role">
              <option disabled selected>Pick one</option>
              <option value="hs-student">High School Student</option>
              <option value="undergrad">Under Graduate</option>
              <option value="grad">Graduate</option>
              <option value="parent">Parent</option>
              <option value="other">Other</option>
            </select>
          </label>
        </div>
        <div>
          <button class="d-btn d-btn-primary" type="submit" [disabled]="!userForm.valid">Save Changes</button>
        </div>
      </form>
    </section>

    <section class="w-full d-card bg-white shadow-xl p-6">
      <h2 class="font-bold text-xl">Change Password</h2>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
        <div class="flex flex-col gap-3">
          <div>
            <label class="d-form-control w-full">
              <div class="d-label">
                <span class="label-text font-semibold text-neutral-700" for="oldPassword">Old Password</span>
              </div>
              <input type="password" id="oldPassword" formControlName="oldPassword" class="d-input d-input-bordered w-full">
            </label>
          </div>
          <div>
            <label class="d-form-control w-full">
              <div class="d-label">
                <span class="label-text font-semibold text-neutral-700" for="newPassword">New Password</span>
              </div>
              <input type="password" id="newPassword" formControlName="newPassword" class="d-input d-input-bordered w-full">
            </label>
          </div>
          <div>
            <label class="d-form-control w-full">
              <div class="d-label">
                <span class="label-text font-semibold text-neutral-700" for="confirmPassword">Confirm New Password</span>
              </div>
              <input type="password" id="confirmPassword" formControlName="confirmPassword" class="d-input d-input-bordered w-full">
            </label>
          </div>
        </div>
        <div>
          <button class="d-btn d-btn-primary" type="submit" [disabled]="!passwordForm.valid">Update Password</button>
        </div>
      </form>
    </section>
  </div>

</div>
