<!-- <p-carousel [value]="prompts" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
  <ng-template let-prompts pTemplate="item">
      <button class="prompt-button m-2">
          <div class="text-left">
              <p class="mb-1 text-xs font-semibold opacity-65">{{ prompts.title }}</p>
              <p class="mb-1 text-sm font-semibold courier-text">{{ prompts.prompt }}</p>
          </div>
        </button>
  </ng-template>
</p-carousel> -->

<div class="relative flex justify-center items-center max-w-screen-lg">
<!-- <p class="text-sm font-medium dark:text-neutral-500 mb-1 text-center">Try out a common question</p> -->
  <div class="absolute w-full bottom-3">
    <div class="flex w-full justify-between items-center">
      <p class="font-semibold text-gray-700 dark:text-neutral-600 mb-0">Try out a prompt</p>
      <div class="flex gap-2 justify-end mb-1 text-neutral-900 dark:text-neutral-300">
        <button [disableRipple]="true" [disabled]="owlCar.navData?.prev?.disabled" class="flex items-center justify-center" mat-icon-button (click)="owlCar.prev()">
          <mat-icon class="!flex items-center justify-center">
            <ng-icon [size]="'20px'" name="featherArrowLeft"></ng-icon>
          </mat-icon>
        </button>
        <button [disableRipple]="true" [disabled]="owlCar.navData?.next?.disabled" class="flex items-center justify-center" mat-icon-button (click)="owlCar.next()">
          <mat-icon class="!flex items-center justify-center">
            <ng-icon [size]="'20px'" name="featherArrowRight"></ng-icon>
          </mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="!owlCar.navData?.next?.disabled" class="right-guard"></div>
    <div *ngIf="!owlCar.navData?.prev?.disabled" class="left-guard"></div>


    <div #container class="overflow-hidden">
      <owl-carousel-o (dragging)="dragging = $event.dragging" [options]="customOptions" #owlCar>
        <ng-container *ngFor="let prompt of prompts">
          <ng-template [width]="prompt.prompt!.length * 8.2" carouselSlide [id]="prompt.id!" []>
            <div class="mb-2 h-16">
              <button [disabled]="dragging" (mouseenter)="promptHover(prompt.prompt!)" (mouseleave)="promptHover('')" (click)="usePrompt(prompt.prompt!)" class="prompt-button h-full">
                <div class="text-left flex flex-col items-start justify-between h-100 py-1">
                  <p class="mb-0 text-xs font-semibold opacity-65">{{ prompt.title }}</p>
                  <p class="mb-0 text-sm font-semibold flex justify-start items-center h-full truncate">{{ prompt.prompt }}</p>
                </div>
              </button>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
