<p class="text-sm font-medium dark:text-neutral-500 mb-1 text-center">Try out a common question</p>
<!-- <p-carousel [value]="prompts" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
  <ng-template let-prompts pTemplate="item">
      <button class="prompt-button m-2">
          <div class="text-left">
              <p class="mb-1 text-xs font-semibold opacity-65">{{ prompts.title }}</p>
              <p class="mb-1 text-sm font-semibold courier-text">{{ prompts.prompt }}</p>
          </div>
        </button>
  </ng-template>
</p-carousel> -->

<div>Some tags before</div>
<div #container class="overflow-hidden" [style.width]="width">
  <owl-carousel-o *ngIf="init" [options]="customOptions">
    <ng-container *ngFor="let prompt of prompts">
      <ng-template carouselSlide [id]="prompt.id!">
        <div class="h-20">
          <button class="prompt-button m-2">
          <div class="text-left">
              <p class="mb-1 text-xs font-semibold opacity-65">{{ prompt.title }}</p>
              <p class="mb-1 text-sm font-semibold courier-text">{{ prompt.prompt }}</p>
          </div>
        </button></div>
      </ng-template> 
    </ng-container>
  </owl-carousel-o>
</div>
  <div>Some tags before</div>



