<div *ngIf="liveMessages?.length ?? 0 > 0" class="relative">
    <div class="w-full scroller flex-col-reverse">
      <div id="messagesContainer" #messagesContainer class="flex flex-col gap-0 pr-5 w-full message-container">
        <div class="w-full text-center text-sm text-gray-500 font-medium mb-7">Created {{liveThread?.creation_date?.toString() ?? '' | prettytime }}</div>
          <div *ngFor="let message of liveMessages, let i = index" [ngClass]="{'items-end': message.role !== 'assistant'}" class="message" >
            @if (message.role === 'user') {
              <div class="w-100" [ngClass]="{'slide-in-blurred-bottom': message.animate}">
                <app-message-bubble [thread]="liveThread" [liveMessage]="message ?? null"></app-message-bubble>
              </div>
            } @else if (message.role === 'assistant' && message.message?.length ?? 0 > 8) {
              <div class="w-100" [ngClass]="{'slide-in-blurred-bottom': message.animate}">
                <app-message-bubble [thread]="liveThread" [liveMessage]="message ?? null"></app-message-bubble>
              </div>
            }
          </div>
          <div class="w-full flex justify-center pb-3">
            @if (!questionsLoadingAnimated && !questions) {
              <button class="d-btn d-btn-md rounded-full fade-in-bottom delay-300" (click)="getQuestions()">
                  <ng-icon class="ml-1" [size]="'20px'" name="featherPlayCircle"></ng-icon>
                  Generate follow-up questions
              </button>
            } @else if(questionsLoadingAnimated) {
              <button class="d-btn d-btn-md rounded-full fade-in-bottom delay-300">
                  <span class="d-loading d-loading-spinner w-5 h-5"></span>
                  Generating questions...
              </button>
            } @else {
              <div class="flex flex-col gap-3 w-full items-center pt-7 fade-in-bottom">
                <p class="text-xs font-semibold text-gray-700 mb-0">AI recommended questions</p>
                @for (question of questions; track $index) {
                  <button class="d-btn d-btn-sm bg-indigo-50 border-2 hover:bg-indigo-100 hover:border-indigo-400 border-indigo-300 max-w-md h-auto text-left py-2 px-3 leading-5 rounded-2xl">
                    {{question}}
                  </button>
                }
              </div>
            }
          </div>
      </div>
    </div>
</div>

<ng-template #user>
  <ng-icon class="ml-1" [size]="'20px'" name="cssUser"></ng-icon>
</ng-template>

