<div class="w-full text-center flex flex-col gap-20">
  <div>
    <!-- <p class="text-lg mb-2 text-gray-800 font-semibold">I specialize in federal student aid.</p> -->
    <div class="logo text-gray-800 p-2 font-medium mb-1">
      federal student aid assistant [beta]
   </div>
    <h2 class="text-4xl text-gray-950 font-black">How can I help?</h2>
  </div>
  <section class="flex flex-col items-center">
    <div class="text-center mb-3 w-full">
      <h6 class="font-bold text-gray-800 text-lg">Examples of topics you can ask</h6>
      <!-- <p class="text-gray-600 mb-0 font-semibold"> You can select a question below to start a thread.</p> -->
    </div>
    <div class="flex flex-col gap-3 max-w-3xl">
      <button class="prompt-button flex gap-4 items-start">
        <div class="number">1</div> <div class="courier-text text-left">What are the different types of federal student aid available, and how do they differ?</div>
      </button>
      <button class="prompt-button flex gap-4 items-start">
        <div class="number">2</div> <div class="courier-text text-left">How do I apply for federal student aid, and when are the deadlines?</div>
      </button>
      <button class="prompt-button flex gap-4 items-start">
        <div class="number">3</div><div class="courier-text text-left">What are the eligibility requirements for federal student aid?</div>
      </button>
      <button class="prompt-button flex gap-4 items-start">
        <div class="number">4</div><div class="courier-text text-left">Can you explain the difference between federal grants, loans and work study programs?</div>
      </button>
      <button class="prompt-button flex gap-4 items-start">
        <span class="number">5</span><div class="courier-text text-left">How is the Expected Family Contribution (EFC) calculated, and how does it affect the amount of aid I am eligible for?</div>
      </button>
    </div>

  </section>
</div>
