
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap')

.courier-text
  font-family: 'Courier Prime', monospace
  @apply text-lg

.number
  @apply w-8 h-8 bg-indigo-100 dark:bg-indigo-950 font-black flex items-center justify-center rounded-full text-indigo-600 dark:text-indigo-300 min-w-8 text-sm

.prompt-button
  @apply bg-transparent p-3 dark:text-neutral-300 transition-colors duration-100 border border-transparent
  &:hover
    @apply bg-gray-50 dark:bg-neutral-900 border-neutral-500 dark:border-neutral-800

::ng-deep .typed-cursor.typed-cursor--blink
  -webkit-animation: typedjsBlink 1.3s infinite !important
  animation: typedjsBlink 1.3s infinite !important

@keyframes typedjsBlink
  50%
    opacity: 0

