<div class="w-full text-center flex flex-col example-prompts-container gap-2 sm:gap-12">
  <div>
    <div class="logo text-gray-800 dark:!text-neutral-500 p-2 font-medium mb-1">
      student aid helper [beta]
    </div>
    <ngx-typed-js [startDelay]="1000" [typeSpeed]="20" [showCursor]="true" [strings]="['How can I help?']">
      <span class="text-4xl text-gray-950 dark:text-neutral-200 font-black typing"></span>
    </ngx-typed-js>
  </div>
  <!-- <div class="pt-28 lg:p-0">
    <div class="logo text-gray-800 dark:!text-neutral-500 p-2 font-medium mb-1">
      student aid helper [beta]
    </div>
    <ngx-typed-js [startDelay]="1000" [typeSpeed]="20" [showCursor]="true" [strings]="['How can I help?']">
      <span class="text-4xl text-gray-950 dark:text-neutral-200 font-black typing"></span>
    </ngx-typed-js>
  </div> -->
  <section class="flex-col items-center hidden sm:flex">
    <div class="text-center mb-3 w-full">
      <h6 class="font-bold text-gray-700 dark:text-neutral-300 text-lg">Choose an assistant</h6>
      <!-- <p class="text-sm text-gray-800 font-semibold">Select an assistant below</p> -->
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-4 gap-4 px-4 sm:px-1 w-full sm:w-auto">
      @for (assistant of assistants; track $index) {
        <app-assistant-card [assistant]="assistant" [activeAssistant]="selectedAssistant" (assistantRef)="setId($event)"></app-assistant-card>
      }
    </div>
  </section>
  <div class="flex justify-center px-8 sm:px-0">
    <p class="text-center text-xs sm:text-sm font-medium text-gray-400 max-w-xl pt-8">
      Responses are based on chatGPT data until April 2023 and are for informational purposes only.</p>
  </div>
</div>



<!-- <ngx-typed-js #typewriter [startDelay]="750" [typeSpeed]="20" [showCursor]="true" [strings]="['Examples of topics you can ask']">
        <span class="font-bold text-gray-800 dark:text-neutral-300 text-lg typing"></span>
      </ngx-typed-js> -->
<!-- <p class="text-gray-600 mb-0 font-semibold"> You can select a question below to start a thread.</p> -->
