// @import '../../../../styles'
// @import 'tailwindcss/base'
// @import 'tailwindcss/components'
// @import 'tailwindcss/utilities'

.prompt-box
  backdrop-filter: blur(6px)
  background: #f3f4f6d6

.menu-toggle-btn
  @apply bg-slate-200 hover:bg-slate-300 transition-colors rounded-full
  width: 40px
  height: 40px
  border-radius: 100%
  display: flex
  align-items: center
  justify-content: center
