<div class="container flex items-center justify-center py-9 h-full">
  <div class="w-full max-w-5xl h-full">
    <div *ngIf="thread$ | async as thread; else loading" [ngClass]="{'gap-16': messages.length === 0, 'gap-4': messages.length > 0}" class="flex flex-col gap-16 justify-start items-center h-full">
      <!-- Display thread details -->
      <div class="flex justify-between items-start w-full">
        <div class="w-full hidden md:block">
          <p class="text-xs text-gray-600 dark:text-neutral-600 font-semibold mb-1">THREAD ID</p>
          <div class="text-sm text-gray-700 dark:text-neutral-600 font-semibold uppercase mb-0 flex items-center gap-2 ">
            <div class="truncate w-48">{{ thread.id }}</div>
            <button class="icon-button"><ng-icon [size]="'24px'" name="cssPathTrim"></ng-icon></button>
          </div>
        </div>
        <div class="flex items-center gap-3 justify-between md:justify-end w-100">
          <button class="flex items-center justify-center gap-2 primary-button min-w-44"><ng-icon [size]="'18px'" name="cssAdd"></ng-icon>New Thread</button>
          <button class="flex items-center justify-center gap-2 primary-button min-w-44"><ng-icon [size]="'18px'" name="cssTrashEmpty"></ng-icon>Delete Thread</button>
        </div>
      </div>
      <div class="flex flex-col gap-8 max-w-3xl justify-between h-full w-full">
        <app-example-prompts *ngIf="messages.length === 0"></app-example-prompts>
        <!-- ... other thread details ... -->
        <app-message-list *ngIf="messages.length > 0"></app-message-list>
        <div class="relative w-full">
          <div class="max-w-3xl bottom-0 absolute w-full prompt-box">
            <app-prompts-carousel *ngIf="messages.length === 0"></app-prompts-carousel>
            <div class="flex items-center gap-1 w-full">
              <input placeholder="Enter a prompt here..." class="bg-white dark:!bg-neutral-900 h-12 px-3 border border-solid !border-neutral-800 dark:!border-neutral-600 w-full" #inputbox type="text">
              <button class="bg-blue-700 h-12 px-3 font-black text-gray-200" (click)="createMessage(inputbox.value)">Send</button>
            </div>
            <div class="text-xs font-semibold py-3 w-full text-center text-gray-500 dark:text-neutral-400 flex flex-wrap items-center justify-center gap-1">Built using ChatGPT Assistant Beta // Developed and designed by Landon C. Messmer <ng-icon name="cssCoffee"></ng-icon></div>
          </div>
        </div>
      </div>

      <!-- <button class="text-3xl bg-blue-500" (click)="deleteThread()">delete thread</button> -->
    </div>
    <ng-template #loading>Loading...</ng-template>
  </div>
</div>


