<mat-drawer-container [hasBackdrop]="false" class="example-container bg-transparent h-full" autosize>
  <mat-drawer #drawer [opened]="widthValue > 1012 ? true:false" [mode]="widthValue > 1012 ? 'side':'push'"
    class="scroller example-sidenav mr-8 !overflow-x-visible !bg-[#eff0f3] border-r-solid border-r border-r-gray-300"
    mode="side">
    <div *ngIf="userProfile?.threads?.length ?? 0 > 0">
      <div class="sticky top-0 z-10 bg-gradient-to-t from-[#eff0f391] to-[#eff0f3] pb-2 pt-6 px-8 backdrop-blur-md">
        <div class="flex justify-between items-center">
          <!-- <p class="text-neutral-800 dark:text-neutral-400 font-black mb-0">Threads ({{userProfile.threads?.length}})</p> -->
          <p class="text-neutral-800 text-2xl dark:text-neutral-400 font-black mb-0">Threads</p>
          <button class="flex items-center justify-center" mat-icon-button (click)="createNewThread()">
            <mat-icon class="!flex items-center justify-center">
              <ng-icon [size]="'18px'" name="featherEdit"></ng-icon>
            </mat-icon>
          </button>
        </div>
        <div>
          <div class="text-sm text-gray-700 mb-2 font-semibold flex gap-1">Sort threads</div>
          <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label"
            optionValue="value"></p-selectButton>
        </div>
      </div>

      <div class="pb-8 px-8">
        <div class="mx-0 my-3 overflow-visible" *ngFor="let thread of threads | orderBy: value" @growShrink>
          <div
            [ngClass]="{'thread-button-active': threadId === thread.thread_id, 'thread-button': threadId !== thread.thread_id}">
            <button class="flex flex-col gap-1 text-left pl-3 py-3 w-full" (click)="getThread(thread.thread_id ?? '')">
              <!-- <div class="thread-id">{{thread.thread_id}}</div> -->
              <div *ngIf="thread.last_message_content, else nomessages" class="flex h-8 max-w-48 text-xs font-bold">
                <div class="message-text">{{thread.last_message_content}}</div>
              </div>
              <div
                class="truncate max-w-48 text-xs font-semibold text-gray-500 dark:text-neutral-500 mt-1 flex gap-1 items-center justify-start">
                <ng-icon [size]="'12px'" name="featherClock"></ng-icon>{{thread.last_updated ?
                (thread.last_updated.toString() | timeago) : 'Never updated'}}</div>
            </button>
            <!-- <button pButton type="button" class="pr-3 py-3 flex justify-center items-center"><ng-icon [size]="'20px'" name="cssMoreVertical"></ng-icon></button> -->
            <button mat-icon-button class="m-1 dark:text-neutral-400" [matMenuTriggerFor]="menu" [disableRipple]="true"
              aria-label="Example icon-button with a menu">
              <mat-icon class="dark:text-neutral-400">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>
                  <ng-icon [size]="'24px'" name="cssPlayButtonO"></ng-icon>
                </mat-icon>
                <span>View</span>
              </button>
              <button mat-menu-item (click)="renameDialog(thread)">
                <mat-icon>
                  <ng-icon [size]="'24px'" name="cssPen"></ng-icon>
                </mat-icon>
                <span>Edit name</span>
              </button>
              <button mat-menu-item (click)="openDialog(thread)">
                <mat-icon>
                  <ng-icon [size]="'24px'" name="cssTrashEmpty"></ng-icon>
                </mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
          <!-- <button (click)="getThread(thread.thread_id ?? '')">{{thread.thread_id}}</button> -->
        </div>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content bg-transparent h-full">
    <div class="flex items-center justify-center h-full">
      <div class="w-full h-full overflow-hidden flex pt-8 px-8 gap-2">
        <!-- <div *ngIf="!threadLoading && !messageLoading; else loading" class="flex flex-col h-full gap-4"> -->
          <button type="button" class="menu-toggle-btn" (click)="drawer.toggle()">
            <ng-icon [size]="'24px'" name="cssMenu"></ng-icon>
          </button>
        <div class="flex flex-col h-full w-full overflow-hidden relative">
          <div class="flex absolute gap-3 w-full top-0 backdrop-blur-xl z-10 bg-gradient-to-b from-gray-100 to-[#f3f4f6c4]">
            <div class="w-full flex justify-center">
              <div class="flex justify-between items-start w-full flex-wrap max-w-screen-lg pb-4 border-b border-gray-200">
                <div class="flex items-center gap-3">
                  <div class="hidden md:block">
                    <p class="text-xs text-gray-600 dark:text-neutral-600 font-semibold mb-1">THREAD ID</p>
                    <div
                      class="text-sm text-gray-700 dark:text-neutral-500 font-semibold uppercase mb-0 flex items-center gap-2 ">
                      <div class="truncate w-48">{{ thread?.id ?? '' }}</div>
                      <button class="icon-button"><ng-icon [size]="'24px'" name="cssPathTrim"></ng-icon></button>
                    </div>
                  </div>
                </div>
                <div class="flex items-center gap-1 justify-between md:justify-end">
                  <button class="flex items-center justify-center" mat-icon-button (click)="openDialog(null)">
                    <mat-icon class="!flex items-center justify-center">
                      <ng-icon [size]="'20px'" name="iconoirTrash"></ng-icon>
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col h-full gap-4 w-full relative">
            <!-- Display thread details -->
            <div class="flex flex-col gap-2 justify-start items-center w-100 h-100 relative">
              <div class="flex flex-col gap-8 justify-between w-full h-full max-w-screen-lg scroller-messages">
                <app-example-prompts class="h-full" *ngIf="messages.length === 0 && !threadLoading && !messageLoading"
                  @fadeInOut></app-example-prompts>
                <app-message-list *ngIf="messages.length > 0" @fadeInOut
                  [messageLoading]="messageLoading"></app-message-list>
                <div class="prompt-box" *ngIf="messages.length === 0" @fadeInOut>
                </div>
              </div>
              <div class="w-full absolute bottom-0 message-footer prompt-box flex justify-center">
                <div class="max-w-screen-lg w-full">
                  <app-prompts-carousel *ngIf="messages?.length === 0" (hoverString)="hoverUpdate($event)"></app-prompts-carousel>
                  <div class="flex items-center gap-2 pb-3">
                    <ngx-typed-js class="w-full" [shuffle]="true" #typed [startDelay]="650" [typeSpeed]="8"
                      [showCursor]="false" [strings]="placeholders">
                      <input #chatbox [disabled]="messageLoading"
                        [placeholder]="messageLoading ? 'Assistant is responding...':'Enter a prompt here...'"
                        class="typing h-12 px-3 border border-solid font-medium dark:placeholder-neutral-600 !border-neutral-800 dark:!border-neutral-600 w-full dark:!text-neutral-200 rounded-full"
                        #inputbox type="text">
                    </ngx-typed-js>
                    <button [disabled]="messageLoading" [ngClass]="{'bg-gray-500': messageLoading}" class="send-button"
                      (click)="createMessage(inputbox.value)">
                      <ng-icon [size]="'24px'" name="featherSend" class="rotate-[315deg] mt-1"></ng-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #loading>Loading...</ng-template>
      </div>
    </div>
  </div>
</mat-drawer-container>


<ng-template #nomessages>
  <div class="no-message">
    New Thread
  </div>
</ng-template>
