<!-- <p>no-thread works!</p> -->
<div class="h-full">
  <div class="flex prompt-container w-full relative justify-center items-center">
    <app-example-prompts (assistantOutput)="assistant = $event"></app-example-prompts>
  </div>
</div>
<!-- <app-loader></app-loader> -->
<div class="absolute bottom-0 w-full px-2 md:px-0 pb-3">
    <div class="flex items-center gap-2 relative pb-3 -bottom-1 w-full animate__fadeInUp animate__animated animate__faster animate__delay-1s">
      <app-prompts-carousel class="w-full" (searchString)="createLiveThread($event)"></app-prompts-carousel>
    </div>
    <div class="flex items-center gap-2 pb-3 relative bottom-0 w-full prompt-box px-2 md:px-0">
      <textarea #chatbox
      [placeholder]="'Ask a question'"
      pInputTextarea
      [autoResize]="true"
      class="p-3 min-h-12 border-none font-medium dark:placeholder-neutral-600 dark:!border-neutral-600 w-full dark:!text-neutral-200 rounded-xl shadow-sm !shadow-neutral-100"
      #inputbox type="text"></textarea>
    <button [matTooltipShowDelay]="800" matTooltip="Send" (click)="createLiveThread(inputbox.value)" class="d-btn d-btn-circle bg-indigo-600 hover:bg-indigo-700 text-neutral-100 border-0 !shadow-md !shadow-indigo-300">
      <ng-icon [size]="'22px'" name="featherArrowUp"></ng-icon>
    </button>
  </div>
</div>





  <!-- <ngx-typed-js class="w-full" [shuffle]="true" #typed [startDelay]="650" [typeSpeed]="8"
    [showCursor]="false" [strings]="placeholders">
    <input #chatbox
      [placeholder]="'Ask a question'"
      class="typing h-12 px-3 border border-solid font-medium dark:placeholder-neutral-600 !border-neutral-800 dark:!border-neutral-600 w-full dark:!text-neutral-200 rounded-full"
      #inputbox type="text">
  </ngx-typed-js> -->
  <!-- <ngx-typed-js class="w-full" [shuffle]="true" #typed [startDelay]="650" [typeSpeed]="8"
      [showCursor]="false" [strings]="placeholders">

    </ngx-typed-js> -->
