<div class="p-4 flex flex-col gap-6">
  <div class="flex flex-col gap-3">
    <div>
      <form (ngSubmit)="onSubmit()">
        <div>
          <label class="text-sm text-gray-600 dark:text-neutral-600 font-semibold mb-1" for="threadName">THREAD NAME</label>
          <input
            type="text"
            placeholder="Enter new thread name..."
            id="threadName"
            [value]="data.thread_name !== '' || null ? data.thread_name:null"
            [formControl]="threadNameControl"
            required
          >
          <div *ngIf="threadNameControl.errors && (threadNameControl.dirty || threadNameControl.touched)">
            <small class="text-red-600" *ngIf="threadNameControl.errors['required']">
              Name is required.
            </small>
            <small class="text-red-600" *ngIf="threadNameControl.errors['minlength']">
              Name must be at least 3 characters long.
            </small>
          </div>
        </div>
        <!-- <button type="submit" [disabled]="!threadNameControl.valid">Create Thread</button> -->
      </form>
    </div>
    <div>
      <p class="text-xs text-gray-600 dark:text-neutral-600 font-semibold mb-0">THREAD ID</p>
      <div class="text-xs text-gray-700 dark:text-neutral-600 font-bold uppercase mb-0 flex items-center gap-2 ">
        {{ data.thread_id }}
      </div>
    </div>
    <div>
      <p class="text-xs text-gray-600 dark:text-neutral-600 font-bold mb-0">CREATION DATE</p>
      <div class="text-xs text-gray-700 dark:text-neutral-600 font-bold uppercase mb-0 flex items-center gap-2 ">
        {{ dateConversion(data.creation_date) || 'unknown'}}
      </div>
    </div>
  </div>
  <div class="flex gap-4 items-center">
    <button mat-button [disableRipple]="true" class="rounded-none py-4 hover:rounded-none"  (click)="onNoClick()">Keep Name</button>
    <button type="submit" [disabled]="!threadNameControl.valid" class="primary-button-black flex items-center gap-1 px-3" [mat-dialog-close]="true" cdkFocusInitial>
      Update Thread Name
    </button>
  </div>
</div>
