<div class="flex absolute gap-3 w-full top-0 backdrop-blur-xl z-10 bg-gradient-to-b from-gray-100 to-[#f3f4f6c4] dark:from-neutral-950 dark:to-[#0a0a0a82]">
  <div class="w-full flex justify-center">
    <div class="flex justify-between items-start w-full flex-wrap max-w-screen-lg pb-4 border-b border-gray-200 dark:border-neutral-800">
      <div class="flex items-center gap-3">
        <div class="hidden md:block">
          <p class="text-xs text-gray-600 dark:text-neutral-600 font-semibold mb-1">THREAD ID</p>
          <div
            class="text-sm text-gray-700 dark:text-neutral-400 font-semibold uppercase mb-0 flex items-center gap-2 ">
            <div class="truncate w-48">{{threadId}}</div>
            <button class="icon-button"><ng-icon [size]="'24px'" name="cssPathTrim"></ng-icon></button>
          </div>
        </div>
      </div>
      <div class="flex items-center gap-1 justify-between md:justify-end">
        <button class="flex items-center justify-center" mat-icon-button>
          <mat-icon class="!flex items-center justify-center dark:text-neutral-300">
            <ng-icon [size]="'20px'" name="iconoirTrash"></ng-icon>
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col h-full gap-4 w-full relative">
  <!-- Display thread details -->
  <div class="flex flex-col gap-2 justify-start items-center w-100 h-100 relative">
    <div class="flex flex-col gap-8 justify-between w-full h-full max-w-screen-lg scroller-messages">
      </div>
    </div>
    <div class="w-full absolute bottom-0 message-footer prompt-box flex justify-center">
      <div class="max-w-screen-lg w-full">
        <div class="flex items-center gap-2 pb-3">
        </div>
      </div>
    </div>
  </div>
