<div class="h-full">
  <div class="flex absolute gap-3 w-full top-0 backdrop-blur-xl z-10 bg-gradient-to-b from-gray-200 to-[#e5e7eba8] dark:from-neutral-950 dark:to-[#0a0a0a82]">
    <div class="w-full flex justify-center">
      <div class="flex justify-between items-center w-full flex-wrap max-w-screen-lg pb-2 border-b border-gray-300 dark:border-neutral-800">
        <div class="flex items-center gap-3">
          <div class="hidden md:block">
            <p class="text-sm text-gray-600 dark:text-neutral-600 font-semibold mb-0">Thread name</p>
            <div
              class="text-base text-gray-700 dark:text-neutral-400 font-semibold mb-0 flex items-center gap-2 ">
              <div class="">{{activeLiveThread?.thread_name}}</div>
              <!-- <button class="icon-button"><ng-icon [size]="'24px'" name="cssPathTrim"></ng-icon></button> -->
            </div>
          </div>
        </div>
        <div class="flex items-center gap-1 justify-between md:justify-end pr-3 lg:pr-0">
          <!-- <button (click)="createLiveThread()"> new live thread</button> -->
          <button (click)="openDialog(activeLiveThread)" class="flex items-center justify-center" mat-icon-button>
            <mat-icon class="!flex items-center justify-center dark:text-neutral-300">
              <ng-icon class="drop-shadow-md" [size]="'20px'" name="iconoirTrash"></ng-icon>
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col h-full gap-4 w-full relative">
    @if (initMsg()) {
      <div class="absolute loader-container w-full h-full">
        <app-loader></app-loader>
      </div>
    } @else {
      <div class="flex flex-col gap-2 justify-start items-center w-100 h-100 relative">
        <div class="flex flex-col gap-8 justify-between w-full h-full max-w-screen-lg scroller-messages">
          @if (!messagesLoading) {
            @if (liveMsgs?.length ?? 0 > 0) {
              <app-message-list (selectedQuestion)="createLiveMessage($event)" (generateQuestions)="generateQuestions()" [questions]="questions" class="animate_up" [liveMessages]="liveMsgs" [liveThread]="activeLiveThread"></app-message-list>
            } @else {
              <!-- <div class="mt-28">no messages</div> -->
            <div class="w-full flex flex-col justify-center items-center h-full -mt-44">
              <div class="max-w-md flex flex-col animate_up" [ngClass]="{'animate_up flex': showImg, 'hidden': !showImg}">
                <div class="w-full max-w-xs ">
                  <img #nomessage loading="eager" (load)="imgLoaded()" class="dark:invert" [src]="'https://firebasestorage.googleapis.com/v0/b/federal-student-aid-assistant.appspot.com/o/site_images%2Fai_pointing.webp?alt=media&token=1c621a3c-b589-41bb-933d-a3453d9677a3'">
                </div>
                <div class="text-center mt-8">
                  <h3 class="font-black text-2xl dark:text-neutral-300 drop-shadow-md">This thread looks fresh!</h3>
                  <p class="text-base text-gray-700 dark:text-neutral-400 font-medium">Messages will appear here. Use a prompt below or send a message to get started.</p>
                </div>
              </div>
            </div>
            <div class="flex items-center gap-2 pb-3 absolute bottom-16 w-full animate__fadeInUp animate__animated animate__faster animate__delay-1s">
              <app-prompts-carousel class="w-full" (searchString)="createLiveMessage($event)" (hoverString)="hoverUpdate($event)"></app-prompts-carousel>
            </div>
            }
          }
          @else if (messageLoading) {
            <div class="h-full w-full flex justify-center items-center">
              <app-loader></app-loader>
            </div>
          }
          @else {
            <!-- <div class="h-full">
              <app-loader></app-loader>
            </div>           -->
            <!-- <video loading="lazy" muted="muted" src="https://firebasestorage.googleapis.com/v0/b/federal-student-aid-assistant.appspot.com/o/site_videos%2Fautomatic-talk-9010274-7357939.mp4?alt=media&token=7e76d02e-41ba-4c36-83b6-e3b000850f24" type="video/mp4" autoplay="autoplay" loop="loop"></video> -->
          }
          </div>
        </div>
    }

    </div>
</div>
<div>
  @if (liveMsgs === null && !messageLoading) {
    <div class="flex items-center gap-2 pb-3 absolute bottom-16 w-full animate__fadeInUp animate__animated animate__faster animate__delay-1s">
      <app-prompts-carousel class="w-full" (searchString)="createLiveMessage($event)" (hoverString)="hoverUpdate($event)"></app-prompts-carousel>
    </div>
  }


</div>

<div class="flex flex-col items-center pb-3 absolute bottom-0 w-full prompt-box px-2 md:px-0">
  <!-- <div class="flex items-center gap-2 pb-3 w-full animate__fadeInUp animate__animated animate__faster animate__delay-1s">
    <app-questions-carousel class="w-full" [questions]="questions"></app-questions-carousel>
  </div> -->
  <div class="flex items-center gap-2 w-full">
    @if (questions) {
      @if(questions.length > 0){

      }
    }


    <ngx-typed-js class="w-full" [shuffle]="true" #typed [startDelay]="650" [typeSpeed]="8"
      [showCursor]="false" [strings]="placeholders">
      <!-- <input #chatbox [disabled]="messageLoading"
        [placeholder]="messageLoading ? 'Assistant is responding...':'Enter a prompt here...'"
        class="typing h-12 px-3 border border-solid font-medium dark:placeholder-neutral-600 !border-neutral-800 dark:!border-neutral-600 w-full dark:!text-neutral-200 rounded-full shadow-sm shadow-neutral-300"
        #inputbox type="text"> -->
        <input #chatbox [disabled]="messageLoading"
        [placeholder]="messageLoading ? 'Assistant is responding...':'Enter a prompt here...'"
        class="typing h-12 px-3 border-none font-medium dark:placeholder-neutral-600 dark:!border-neutral-600 w-full dark:!text-neutral-200 rounded-full shadow-sm !shadow-neutral-100"
        #inputbox type="text">
    </ngx-typed-js>
    @if ($messageLoading()) {
      <span class="d-loading d-loading-dots d-loading-md absolute right-20"></span>
    }
    <button [disabled]="messageLoading" [ngClass]="{'bg-gray-500': messageLoading}" (click)="createLiveMessage(inputbox.value)" class="d-btn d-btn-circle bg-indigo-600 hover:bg-indigo-700 text-neutral-100 border-0 !shadow-md !shadow-indigo-300">
      <ng-icon [size]="'24px'" name="featherSend" class="rotate-[315deg] mt-1"></ng-icon>
    </button>
  </div>
</div>

